# vim
tags*

# java
*.class
.idea

# Python
env/
__pycache__/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
bin/
*.exe
*.out
*.app
*.jar

# Xcode
*.xcodeproj/

# CLion
.idea/
cmake-build-debug/
CMakeLists.txt

# Netbeans
.dep.inc
nbproject
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
Makefile

# Others
*.gdb*
